[user]
	email = jason.richier@soprasteria.com
	name = Jason Richier
[core]
	autocrlf = false

[alias]
	cm = commit -m
	br = branch -vv
	st = status
	unstage = reset HEAD --
	dt = difftool
	last = log -1 HEAD

[difftool]
  prompt = true
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -d $REMOTE $LOCAL"

[merge]
  tool = nvimdiff
  conflictstyle = diff3
[mergetool]
  keepBackup = false
  prompt = true
[mergetool "nvimdiff"]
  cmd = "nvim  -d $MERGED $LOCAL $BASE $REMOTE -c 'wincmd J | wincmd ='"

[credential "https://innersource.soprasteria.com"]
	helper = 
	helper = !/usr/bin/glab auth git-credential
[credential "https://git.navblue.tech"]
	helper = 
	helper = !/usr/bin/glab auth git-credential
