[user]
	email = jason.richier@soprasteria.com
	name = Jason Richier
[core]
	autocrlf = false

[alias]
	cm = commit -m
	br = branch -vv
	st = status
	unstage = reset HEAD --
	dt = difftool
	last = log -1 HEAD
    sw = !git checkout $(git branch -a | sed "s#remotes/origin/##g" | grep -v HEAD | uniq | fzf --height=~25%)
    difb = !git dt $(git branch --show-current) $(git branch -a | sed "s#remotes/origin/##g" | grep -v HEAD | uniq | fzf --height=~25%)

[difftool]
  prompt = true
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -d $LOCAL $REMOTE"

[merge]
  tool = nvimdiff
  conflictstyle = diff3
[mergetool]
  keepBackup = false
  prompt = true
[mergetool "nvimdiff"]
  cmd = "nvim  -d $MERGED $LOCAL $BASE $REMOTE -c 'wincmd J | wincmd ='"

[credential "https://innersource.soprasteria.com"]
	helper = 
	helper = !/usr/bin/glab auth git-credential
[credential "https://git.navblue.tech"]
	helper = 
	helper = !/usr/bin/glab auth git-credential
